@import './vendor-prefixes';
@import './functions';

/* LAYOUT
============================= */
@mixin container ($spacers) {
  $padding-outer-x: spacing($spacers, padding-outer-x);
  $padding-outer-y: spacing($spacers, padding-outer-y);

  @include padding($padding-outer-y/2, $padding-outer-x/2);
}

@mixin element ($spacers) {
  $padding-x: spacing($spacers, padding-x);
  $padding-y: spacing($spacers, padding-y);

  @include padding($padding-y/2, $padding-x/2);
}

@mixin full-width($spacers) {
  $padding-outer-x: spacing($spacers, padding-outer-x);
  $padding-outer-y: spacing($spacers, padding-outer-y);
  $padding-x: spacing($spacers, padding-x);
  $padding-y: spacing($spacers, padding-y);

  margin-left: (-$padding-outer-x);
  margin-right: (-$padding-outer-x);
  padding: ($padding-y/2) (($padding-x /2) + $padding-outer-x)
}


/* BASE COMPONENTS
============================= */

@mixin cwg-input-reset {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;

  width: 100%;

  // Prevent textarea from extending outside the form
  max-width: 100%;

  vertical-align: bottom;
  text-align: inherit;

  background: transparent;

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

@mixin cwg-input-base {
  display: inline-block;
  position: relative;

  @include cwg-input-reset();

}

@mixin cwg-button-reset {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  @include user-select(none);

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin cwg-button-base {
  box-sizing: border-box;
  position: relative;
  
  @include cwg-button-reset();
  
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
}
